/* @import url("https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"); */
* {
  /* font-family: "Hind Siliguri", sans-serif; */
  font-family: "Montserrat", sans-serif;
  /* font-family: "Lato", sans-serif; */
  /* font-family: "Libertinus Serif Display", system-ui; */
}

.text-primary {
  color: #333;
}
button {
  cursor: pointer;
}
input {
  outline: none;
}
textarea {
  outline: none;
}
.custom-font {
  font-family: "Zen Dots", sans-serif !important;
}
