/* @import url("https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"); */
* {
  /* font-family: "Hind Siliguri", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Noto Sans", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  font-family: "Questrial", sans-serif;
  /* font-family: "Lato", sans-serif; */
  /* font-family: "Libertinus Serif Display", system-ui; */
}

body {
  background-color: #fff;
  color: #1e1e1e;
}

.bg-primary {
  background-color: #ce2823;
}

.text-primary {
  color: #ce2823;
}
.text-secondary {
  color: #525252;
}

p {
  font-size: 18px;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}
input {
  outline: none;
}
textarea {
  outline: none;
}
.custom-font {
  font-family: "Zen Dots", sans-serif !important;
}
